@tailwind base;
@tailwind components;
@tailwind utilities;

.hiddenOverflow::-webkit-scrollbar {
  display: none;
 
}
.linkactive {
    color: #000000;
    
}
.buttonactive {
    background-color: #6A60F8;
}
@media (prefers-color-scheme: dark) {
  .linkactive {
    color: #ffffff;
  }
}
.scale0{
  transform: scale(0);
}
.scale0.scale1
{
  transform: scale(1);
}

